{
    "report-dir": "coverage/integration",
    "reporter": [
        "text",
        "json",
        "lcov"
    ],
    "all": true,
    "include": [
        "src/**/*.{ts,tsx}"
    ],
    "exclude": [
        "**/*.test.{ts,tsx}",
        "**/test.{ts,tsx}",
        "**/*.stories.{ts,tsx}",
        "**/stories.{ts,tsx}",
        "src/react-app-env.d.ts",
        "src/reportWebVitals.ts",
        "src/setupTests.ts"
    ]
}